@media (min-width: 768px) {
  .input-custom {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .image-custom {
    width: 50%;
  }
}

body::before {
  display: block;
  content: "";
  height: 60px;
}

@media (max-width: 991.98px) {
  .navbar-nav {
    width: 100%;
  }
  .navbar-nav .nav-item {
    text-align: right;
    display: block;
  }
}

/* CSS cho Footer */
footer {
  background-color: #343a40;
  color: #ffffff;
}

.scroll-to-top {
  color: #ffffff;
  transition: color 0.3s ease, transform 0.3s ease;
}

.scroll-to-top:hover {
  color: #f8f9fa;
  transform: translateY(-10px);
}

.scroll-to-top i {
  font-size: 2.5rem;
}

@media (max-width: 576px) {
  .scroll-to-top {
    padding: 1rem;
  }

  .scroll-to-top i {
    font-size: 2rem;
  }
}
